@import "tailwindcss";

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-railway), Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 1.5;
}

h1 {
  font-family: var(--font-family-serif);
  color: var(--color-primary);
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-family: var(--font-family-serif);
  color: var(--color-primary);
  font-size: clamp(1.75rem, 3.5vw, 3.5rem);
  line-height: 1.2;
  font-weight: 600;
}

h3 {
  font-family: var(--font-family-serif);
  color: var(--color-primary);
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1.3;
  font-weight: 600;
}

h4 {
  font-family: var(--font-family-serif);
  color: var(--color-primary);
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  line-height: 1.4;
  font-weight: 500;
}

h5 {
  font-family: var(--font-family-serif);
  color: var(--color-primary);
  font-size: clamp(1.125rem, 2vw, 2rem);
  line-height: 1.4;
  font-weight: 500;
}

h6 {
  font-family: var(--font-family-serif);
  color: var(--color-primary);
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 1.5;
  font-weight: 500;
}

a:not([class*="text-"]) {
  color: var(--color-primary);
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-primary: #333d98;
  --color-blue: #333d98;
  --color-alternative: #551e13;
  --color-red: #551e13;
  --color-primary-dark: #12184d;
  --color-primary-light: #4e5de6;
  --color-light: #939be5;
  --color-gray: #f1f5f9;
  --color-black: #2d2d2d;
  --color-white: #ffffff;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #9ca3af;
  --color-slate-500: #64748b;

  --font-family-serif: "ivymode", serif;
  --font-family-railway: "railway", sans-serif;

  --font-size-xs: 0.75rem 1.6;
  --font-size-sm: 0.875rem 1.6;
  --font-size-base: 1rem 1.6;
  --font-size-lg: 1.125rem 1.6;
  --font-size-xl: 1.25rem 1.2;
  --font-size-xl--letter-spacing: 0.02em;
  --font-size-2xl: 1.5rem 1.2;
  --font-size-2xl--letter-spacing: 0.02em;
  --font-size-3xl: 1.875rem 1.2;
  --font-size-3xl--letter-spacing: 0.02em;
  --font-size-4xl: 2.25rem 1.2;
  --font-size-4xl--letter-spacing: 0.02em;
  --font-size-5xl: 3rem 1.1;
  --font-size-6xl: 3.75rem 1.1;
  --font-size-7xl: 4.5rem 1;
  --font-size-8xl: 6rem 1;
  --font-size-9xl: 8rem 1;

  --aspect-ratio-2-1: 2 / 1;
  --aspect-ratio-16-9: 16 / 9;
  --aspect-ratio-4-3: 4 / 3;
  --aspect-ratio-3-2: 3 / 2;
  --aspect-ratio-1-1: 1 / 1;
  --aspect-ratio-9-16: 9 / 16;
  --aspect-ratio-3-4: 3 / 4;
  --aspect-ratio-2-3: 2 / 3;
  --aspect-ratio-1-2: 1 / 2;
  --aspect-ratio-1-3: 1 / 3;

  --list-style-type-none: none;
  --list-style-type-square: square;

  --fill-current: currentColor;
}
